#header{
	box-shadow: -10px 0 15px 1px rgba(0, 0, 0, 0.4);
	position: sticky;
	background: #afb4bc;
	vertical-align: middle;
}

#logo{
	vertical-align: middle;
	text-align: center;
	color: #000000;
	font-family: anydore;
	font-weight: normal;
	font-size: 8.2vh;
	margin: 0px;
}

a{
	text-decoration: none;
	color: #000000;
	font-family: american captain;
	font-size: 2.7vh;
}

a:hover{
	color: #063787;
}

a:active{
	color: #ed0707;
}

#right_block{
	float: right;
	position: absolute;
	right: -10%;
	margin-top: -7vh;
	margin-right: 7vh;
}


#left_block{
	float: left;
	position: absolute;
	left: -2%;
	margin-top: -7vh;
	margin-left: -1vh;
	width: 50vw;
}

#home_div{
	margin-left: 5vw;
}

#home_image{
	max-width: 100%;
	max-height: auto;
}

#about_div{
	margin-left: 4vw;
}

#services_div{
	margin-left: 4vw;
}

#wham_div{
	position: absolute;
	margin-left: 4vw;
}

body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#dropdown{
	background-color: #858789;
	line-height: 40px;
	text-align: center;
	display: block;
}

#dropdown:hover{
	background-color: 
}

ul li ul li{
	display: none;
}

ul li:hover ul li{
	display: block;
}